@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
<!DOCTYPE html>
<html lang="es-sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Analisis Financieros</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        @if (SignInManager.IsSignedIn(User))
        {
            <nav id="sidebar">
                <div class="sidebar-logo">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/favicon.ico" style="height:20%;width:20%" />
                    </a>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Análisis Financieros</a>
                </div>
                <ul class="sidebar-navigation">
                    <li class="header">Navegación</li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home" aria-hidden="true"></i> Inicio
                        </a>
                    </li>

                    @if (!(User.IsInRole("Administrator")))
                    {
                        <li>
                            <a asp-area="" asp-controller="Empresas" asp-action="Index"
                               class="dropdown-toggle" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-briefcase" aria-hidden="true"></i> Empresa
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                                <a asp-area="" asp-controller="Empresas" asp-action="Index">Empresa</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CatalogoCuentas" asp-action="Index">Catálogo</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ValoresBalance" asp-action="Index">Balances</a>
                                <a class="dropdown-item" asp-area="" asp-controller="EstadoR" asp-action="Index">Estados</a>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("Administrator"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Empresas" asp-action="Index">
                                <i class="fa fa-briefcase" aria-hidden="true"></i> Empresas
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Empresas" asp-action="CrearUsuario">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Registrar Usuario
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Sector" asp-action="Index">
                                <i class="fa fa-industry" aria-hidden="true"></i> Sectores
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="RatioBaseSector" asp-action="Index">
                                <i class="fa fa-line-chart" aria-hidden="true"></i> Ratios Base por Sector
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="MensajesAnalisis" asp-action="Index">
                                <i class="fa fa-bars" aria-hidden="true"></i> Mensajes Razones
                            </a>
                        </li>
                    }
                    <li class="header">Herramientas</li>
                    <li>
                        <a asp-area="" asp-controller="ValoresBalance" asp-action="AnalsisHorizontal">
                            <i class="fa fa-arrow-right fa-columns" aria-hidden="true"></i> Análisis Horizontal
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="ValoresBalance" asp-action="AnalsisVertical">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i> Analizis vertical
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Razons" asp-action="Index">
                            <i class="fa fa-line-chart" aria-hidden="true"></i> Ratios
                        </a>
                    </li>
                </ul>
            </nav>
        }


        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-toggleable-sm">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn">
                        <i class="fa fa-bars"></i>
                        <span></span>
                    </button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="footer">
        <small class="container-fluid">
            &copy; 2020 - Sistema de Informes de Analisis Financieros - Universidad de El Salvador ANF115 G08
        </small>
    </footer>

    <!--jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Poppins CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <!--Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
