@model Sistema_de_Informes_de_Analisis_Financieros.Models.Valoresestado

@{
    ViewData["Title"] = "Construir Estado";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h1>Construir Estado de resultados</h1>

<div class="card bg-dark text-light mt-5 col-12 col-md-10 mb-5">
    <div class="card-header">
        <h4>Valores de Estado de Resultados</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <input asp-for="Idempresa" class="control-label" hidden value="@ViewBag.idEmpresa" />
                <div class="form-group col-md-6">
                    <label asp-for="Idcuenta" class="control-label"></label>
                    <span class="ml-2 info">
                        <i data-toggle="popover" data-placement="top"
                           data-content="Si la fila que se va a introducir se refiere a un total o resultado escoja la cuenta: Default"
                           data-container="body" data-trigger="click" title="Filas de resultados"
                           class="fa fa-question-circle text-white" aria-hidden="true"></i>
                    </span>
                    <select asp-for="Idcuenta" class="search form-control" asp-items="ViewBag.ctasCatalogo"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label asp-for="Nombrevalore" class="control-label"></label>
                    <input asp-for="Nombrevalore" class="form-control" />
                    <span asp-validation-for="Nombrevalore" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Valorestado" class="control-label"></label>
                    <input type="number" asp-for="Valorestado" class="form-control" />
                    <span asp-validation-for="Valorestado" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-2">
                    <label asp-for="Anio" class="control-label"></label>
                    <input type="number" asp-for="Anio" class="form-control" />
                    <span asp-validation-for="Anio" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-4">
                    <input type="submit" value="Ingresar Valor" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-12 col-md-4">
                    <a id="finalizar" class="btn btn-danger btn-block">Finalizar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modalConfirmacion">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">¿Seguro que desea finalizar?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mensajeCtas">
                @if (ViewBag.ctasNoFinalizadas)
                {
                    <p>Aún no ha terminado de llenar todas las cuentas para el balance, si finaliza ahora los calculos y analisis serán incorrectos</p>
                }
            </div>
            <div class="modal-footer">
                <a asp-action="Index" class="btn btn-danger btn-block">Finalizar de todos modos</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.search').select2({ width: '100%' });
        });

        var p = document.getElementById("finalizar");
        p.onclick = function (event) {
            var contenido = document.getElementById("mensajeCtas").value;
            if (contenido != null) {
                $("#modalConfirmacion").modal();
            }
            else {
                document.getElementById("mensajeCtas").innerHTML = "¿Seguro que desea finalizar?"
                $("#modalConfirmacion").modal();
            }
        };

        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
}

