@{
    ViewData["Title"] = "Inicio";
}
<div class="portada row-fluid" style="background-image: url(fondo.jpg);">
    <div class="text-white text-center p-5">
        <h1 class="display-2">Herramientas de Análisis Financieros</h1>
        <p class="lead">Para la toma de decisiones administrativas</p>
    </div>
</div>
<section class="features-icons bg-light text-center">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Objetivo</h2>
        <h3 class="section-subheading text-muted">
            Existen algunas herramientas que los administradores pueden utilizar para la toma de decisiones, que pueden mejorar el
            rendimiento de su empresa. El objetivo de esta aplicación es apoyar al administrador poniendo a su disposición la información necesaria
            con respecto a su rendimiento general.
        </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-arrow-down m-auto"></i>
                    </div>
                    <h3>Análisis Vertical</h3>
                    <p class="lead mb-0">Para medir la distribución de la empresa</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-arrow-right m-auto"></i>
                    </div>
                    <h3>Análisis Horizontal</h3>
                    <p class="lead mb-0">Para determinar los cambios en el tiempo</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-line-chart m-auto"></i>
                    </div>
                    <h3>Razones Financieras</h3>
                    <p class="lead mb-0">Para poder evaluar integralmente en distintas áreas en la misma empresa y el mercado</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="showcase mb-5">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Solicita una cuenta</h2>
                <p class="lead mb-0">
                    Para garantizar la seguridad de tus datos el registro de cuentas solo se puede llevar a cabo por solicitud.
                    Brinda tu información de contacto e información básica de tu empresa y se entregaran tus credenciales para que utilices la aplicación.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Cómo utilizarlo</h2>
                <p class="lead mb-0">
                    Sube tu catálogo de cuentas, e indica la información necesaria sobre tus cuentas, luego introduce tu balance general
                    y el estado de resultados en la página de información de la empresa
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Elige</h2>
                <p class="lead mb-0">
                    Tus datos a analizar, elijiendo la herramienta de análisis en el panel de navegación</p>
            </div>
        </div>
    </div>
</section>
