@model Sistema_de_Informes_de_Analisis_Financieros.Models.Empresa

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="text-center">Crear Empresa</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Idempresa" class="control-label" hidden></label>
            <input asp-for="Idempresa" class="form-control" hidden />
            <span asp-validation-for="Idempresa" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Nomempresa" class="control-label">Empresa</label>
                <input asp-for="Nomempresa" class="form-control" />
                <span asp-validation-for="Nomempresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idsector" class="control-label">Sector</label>
                <select asp-for="Idsector" class="form-control" asp-items="ViewBag.Idsector"></select>
            </div>
            <div class="form-group">
                <label asp-for="Descempresa" class="control-label">Descripción</label>
                <input asp-for="Descempresa" class="form-control" />
                <span asp-validation-for="Descempresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Razonsocial" class="control-label">Razón Social</label>
                <input asp-for="Razonsocial" class="form-control" />
                <span asp-validation-for="Razonsocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-block btn-primary" />
                <a asp-action="Index" class="btn btn-block btn-danger">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
