@model Sistema_de_Informes_de_Analisis_Financieros.ViewModels.SubirBalance
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="modal-dialog modal-lg" id="modalbalance">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Subir Excel de Balance General</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="cuerpo">
            <div class="form-group row">
                <label asp-for="celdaCuenta" class="col-sm-3 col-form-label">Celda de Cuentas:</label>
                <div class="col-11 col-md-8">
                    <input asp-for="celdaCuenta" class="form-control" name="celdaCuenta" placeholder="Número de celda, ej.: B1" required>
                </div>
                <div class="col-sm-1">
                    <span class="info">
                        <i data-toggle="popover" data-placement="top"
                           data-content="El número de celda donde empieza la columna que tiene descritos los nombres de las cuentas"
                           data-container="body" data-trigger="click" title="Número de celda"
                           class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                </div>                
                <span asp-validation-for="celdaCuenta" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="hoja" class="col-sm-3 col-form-label">Hoja:</label>
                <div class="col-11 col-md-8">
                    <input asp-for="hoja" class="form-control" name="hoja" placeholder="Nombre exacto en excel, ej.: Balance" required>
                </div>
                <div class="col-sm-1">
                    <span class="info">
                        <i data-toggle="popover" data-placement="top"
                           data-content="El nombre exacto de la hoja en la que se encuentra el balance general"
                           data-container="body" data-trigger="click" title="Nombre de hoja"
                           class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                </div>
                <span asp-validation-for="hoja" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <input type="hidden" name="anios.Index" value="p0" />
                <div class="col-12 col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="anio" class="input-group-text">Año 1:</label>
                        </div>
                        <input asp-for="anios" name="anios[p0].anio" class="form-control m-input" placeholder="Año a evaluar ej.: 2019" required>
                    </div>
                    @*<span asp-validation-for="anios[p0].anio" class="text-danger"></span>*@
                </div>
                <div class="col-12 col-md-6 mt-2 mt-md-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="celdaAnio" class="input-group-text">Celda de valores:</label>
                        </div>
                        <input asp-for="anios" name="anios[p0].celdaAnio" class="form-control m-input" placeholder="Número de celda, ej.: B1" required>
                    </div>
                    @*<span asp-validation-for="anios[0].celdaAnio" class="text-danger"></span>*@
                </div>
            </div>
            <div id="newRow"></div>
            <div class="form-group">
                <button id="addRow" type="button" class="btn btn-info">Añadir Año</button>
            </div>
            <div class="form-group">                
                <label class="custom-file-upload" for="fileupload">
                    Elegir Archivo
                </label>
                <input type="file" id="fileupload" name="files" class="btn btn-success form-control" value="Subir Balance General" />                
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" name="Upload" id="btnupload" class="btn btn-primary" data-save="modal">Subir Archivo</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var el = document.getElementById("fileupload")
        if (el) {
            el.addEventListener("change", function (e) {
                document.querySelector("[for=" + e.target.id + "]")
                    .innerHTML = e.target.files[0].name;
            })
        }
    });

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover()
    });
</script>


