@model Sistema_de_Informes_de_Analisis_Financieros.ViewModels.SubirBalance
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Subir Excel de Estado de Resultados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="celdaNom" class="col-sm-3 col-form-label">Celda de Cuentas:</label>
                <div class="col-sm-9">
                    <input asp-for="celdaCuenta" class="form-control" id="celdaNom" name="celdaCuenta" placeholder="Número de celda, ej.: B1" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="nomHoja" class="col-sm-3 col-form-label">Hoja:</label>
                <div class="col-sm-9">
                    <input asp-for="hoja" class="form-control" id="nomHoja" name="hoja" placeholder="Nombre exacto en excel, ej.: Balance" required>
                </div>
            </div>
            <div class="row mb-3">
                <input type="hidden" name="anios.Index" value="e0" />
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="anio" class="input-group-text">Año 1:</label>
                        </div>
                        <input type="number" asp-for="anios" name="anios[e0].anio" class="form-control m-input" placeholder="Año a evaluar ej.: 2019" required>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="celdaAnio" class="input-group-text">Celda de valores:</label>
                        </div>
                        <input asp-for="anios" name="anios[e0].celdaAnio" class="form-control m-input" placeholder="Número de celda, ej.: B1" required>
                    </div>
                </div>
            </div>
            <div id="newRow"></div>
            <div class="form-group">
                <button id="addRow" type="button" class="btn btn-info">Añadir Año</button>
            </div>
            <div class="form-group">
                <input type="file" id="fileupload" name="files" />
                <label class="custom-file-upload" for="fileupload">
                    Elegir Archivo
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <input type="submit" name="Upload" value="Subir Archivo" id="btnupload" class="btn btn-primary" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var el = document.getElementById("fileupload")
        if (el) {
            el.addEventListener("change", function (e) {
                document.querySelector("[for=" + e.target.id + "]")
                    .innerHTML = e.target.files[0].name;
            })
        }
    });
</script>
