@model Sistema_de_Informes_de_Analisis_Financieros.Models.Sector

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="text-center">Crear Sector</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nomsector" class="control-label">Nombre Sector:</label>
                <input asp-for="Nomsector" class="form-control" />
                <span asp-validation-for="Nomsector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-block btn-primary" />
                <a asp-action="Index" class="btn btn-block btn-danger">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
