@model IEnumerable<Sistema_de_Informes_de_Analisis_Financieros.Models.Sector>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sectores Empresariales</h1>
<div class="mb-4 mt-4">
    <a class="btn rounded-0 text-light" style="background-color: #409bd8;" asp-action="Create">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbspCrear Nuevo Sector
    </a>
</div>
<table class="table table-responsive">
    <thead class="thead-dark text-center">
        <tr>
            <th>
                Nombre:
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nomsector)
                </td>
                <td>
                    <a class="btn btn-warning px-2 py-1 rounded-circle" asp-action="Edit" asp-route-id="@item.Idsector">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-danger px-2 py-1 rounded-circle rounded text-dark" asp-action="Delete" asp-route-id="@item.Idsector">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
