@model Sistema_de_Informes_de_Analisis_Financieros.Models.Ratiobasesector

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Ratiobasesector</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idratio" class="control-label"></label>
                <select asp-for="Idratio" class ="form-control" asp-items="ViewBag.Idratio"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idsector" class="control-label"></label>
                <select asp-for="Idsector" class ="form-control" asp-items="ViewBag.Idsector"></select>
            </div>
            <div class="form-group">
                <label asp-for="Valorratiob" class="control-label"></label>
                <input asp-for="Valorratiob" class="form-control" />
                <span asp-validation-for="Valorratiob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
