@model Sistema_de_Informes_de_Analisis_Financieros.Models.Ratiobasesector

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="text-center">Crear Valor Base</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idratio" class="control-label">Razón</label>
                <select asp-for="Idratio" class="form-control" asp-items="ViewBag.Idratio"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idsector" class="control-label">Sector</label>
                <select asp-for="Idsector" class="form-control" asp-items="ViewBag.Idsector"></select>
            </div>
            <div class="form-group">
                <label asp-for="Valorratiob" class="control-label">Valor</label>
                <input asp-for="Valorratiob" class="form-control" />
                <span asp-validation-for="Valorratiob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-block btn-primary" />
                <a asp-action="Index" class="btn btn-block btn-danger">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
