@model Sistema_de_Informes_de_Analisis_Financieros.Models.Razon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Razon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreRazon" class="control-label"></label>
                <input asp-for="nombreRazon" class="form-control" />
                <span asp-validation-for="nombreRazon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numerador" class="control-label"></label>
                <input asp-for="numerador" class="form-control" />
                <span asp-validation-for="numerador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="denominador" class="control-label"></label>
                <input asp-for="denominador" class="form-control" />
                <span asp-validation-for="denominador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
