@model Sistema_de_Informes_de_Analisis_Financieros.Models.MensajesAnalisis

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="text-center">Editar Mensaje de Análisis</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idMensaje" />
            <div class="form-group">
                <label asp-for="mensajeMayorBase" class="control-label">Mensaje Mayor Base</label>
                <input asp-for="mensajeMayorBase" class="form-control" required />
                <span asp-validation-for="mensajeMayorBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mensajeMenorBase" class="control-label">Mensaje Menor Base</label>
                <input asp-for="mensajeMenorBase" class="form-control" required />
                <span asp-validation-for="mensajeMenorBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mensajeMayorEmp" class="control-label">Mensaje Mayor Empresa</label>
                <input asp-for="mensajeMayorEmp" class="form-control" required />
                <span asp-validation-for="mensajeMayorEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mensajeMenorEmp" class="control-label">Mensaje Menor Empresa</label>
                <input asp-for="mensajeMenorEmp" class="form-control" required />
                <span asp-validation-for="mensajeMenorEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mensajeIgualBase" class="control-label">Mensaje Igual Base</label>
                <input asp-for="mensajeIgualBase" class="form-control" required />
                <span asp-validation-for="mensajeIgualBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mensajeIgualEmp" class="control-label">Mensaje Igual Empresa</label>
                <input asp-for="mensajeIgualEmp" class="form-control" required />
                <span asp-validation-for="mensajeIgualEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idRatio" class="control-label">Razón</label>
                @Html.DropDownListFor(model => model.idRatio, (SelectList)ViewBag.listRatios, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-block btn-primary" />
                <a asp-action="Index" class="btn btn-block btn-danger">Regresar al listado</a>
            </div>
        </form>
    </div>
</div>
