@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Información Personal";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Tu cuenta contiene información personal que nos has confiado. Esta página te permite descargarla o borrar tu cuenta.</p>
        <p>
            <strong>Borrar la información eliminará tu cuenta de manera definitiva y no podrá deshacerse</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Descargar</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Borrar Cuenta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}